.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #050505;
}

.image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}

.image img {
    width: 580px;
    height: auto;
    object-fit: fill;
    border-radius: 12px;
}

.texto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0;
}

.titu {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    text-shadow: 0px 0px 3px #000;
    padding: 0;
    margin: 0;
}

.info {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 30px;
}

.info p {
    color: #ccccccaf;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 0;
    letter-spacing: .6px;
    text-shadow: 0px 0px 4px #000;
}

.info p span {
    font-size: 26px;
    font-weight: 600;
    color: #ddd;
}

.cierre {
    margin-top: 38px;
    border: 1px solid green;
    color: green;
    background-color: transparent;
    padding: 6px 14px;
    transition: all .4s ease;
}

.cierre:hover {
    transform: scale(1.05);
}








@media (max-width: 600px) {
    .container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;
        background-color: #050505;
        padding: 10px;
        overflow: hidden;
    }
    
    .image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
    }
    
    .image img {
        width: 68%;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
    }
    
    .texto {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0;
        margin: 0;
    }
    
    .titu {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        text-align: left;
        text-shadow: 0px 0px 3px #000;
        padding: 0;
        margin: 0;
    }
    
    .info {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 0;
    }
    
    .info p {
        color: #ccccccaf;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        margin: 0;
        padding: 0;
        letter-spacing: .4px;
        text-shadow: 0px 0px 4px #000;
    }
    
    .info p span {
        font-size: 22px;
        font-weight: 600;
        color: #eee;
    }
    
    .cierre {
        margin-top: 20px;
        border: 1px solid green;
        color: green;
        background-color: transparent;
        padding: 6px 14px;
        transition: all .4s ease;
        font-size: 18px;
    }
    
    .cierre:hover {
        transform: scale(1.05);
    }
}
