.container {
        width: 100%;
        min-height: calc(100vh - 90px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 90px;
        background-image: url("https://c4.wallpaperflare.com/wallpaper/791/407/687/minimalism-silhouette-cartoon-sanchez-wallpaper-preview.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.aviso {
        font-size: 3rem;
        color: rgba(256,256,256,.8);
}