.container {
        width: auto;
        max-height: calc(100vh - 140px);
        padding: 0;
        padding-bottom: 140px;
        margin: 0;
        background-color: #050505;
        overflow-y: scroll;
}

.container::-webkit-scrollbar {
        display: none;
}

.cardsContainer {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        gap: 20px;
        margin: 0;
        padding: 0 50px;
        padding-bottom: 75px;
}










@media (max-width: 600px) {
        .container {
                width: auto;
                max-height: auto;
                padding: 0;
                padding-bottom: 0;
                margin: 0;
                background-color: #050505;
        }
        
        .cardsContainer {
                width: auto;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;
                gap: 10px;
                margin: 0;
                padding: 0;
                padding-bottom: 35px;
        }
        
}