.container {
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: rgba(17,17,17,1);
    border: .5px solid rgba(256,256,256,.8);
    border-radius: 15px;
    line-height: 18px;
    text-align: center;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.corazon {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.corazon:hover {
    border: none;
}

.botonCerrar {
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 0px;
    background: transparent;
    padding: 0;
    margin: 0;
    text-align: right;
}

.botonCerrar:hover {
    color: red;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(0, 255, 0);
}

img {
    width: 100%;
    border-radius: 15px;
}
