.container {
    padding-left: 30px;
}

.botonSearch {
    margin-left: 5px;
    border: .5px solid rgba(256, 256, 256, .8);
}

.botonSearch:hover {
    color: rgba(47, 47, 47, .8);
    background-color: rgba(256, 256, 256, .8);
    border: .5px solid rgba(47, 47, 47, .8)
}

